.team-section {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: black;
    width : 100%;
}

.team-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.team-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.team-member {
    background-color: #fdd835;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.team-photo {
    height: 200px;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.team-name {
    color: black;
    font-size: 1.2em;
    margin-bottom: 5px;
    background-color: #2e3c9d;
}

.team-role {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .team-member {
        width: 90%; /* Full width on smaller screens */
        margin: 10px auto; /* Center and space */
    }

    .team-title {
        font-size: 1.8em;
    }

    .team-subtitle {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .team-title {
        font-size: 1.5em;
    }

    .team-subtitle {
        font-size: 1.2em;
    }
}
